// website theme/bootstrap



// import bootstrap scss
@import '../../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sansita:700&display=swap');

$base-color : #E3CAAB;
$font-primary : #2d1902;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;

}

a {
	cursor: pointer;
  color: #2d1902;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #E3CAAB;
  text-decoration: none;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}

#home_container {
	cursor: pointer;
}

// NAVBAR

div.container.borderXwidth
{
  font-family: Raleway;
  margin: 0 auto;
  padding: 1em 1em;
  text-align: center;
  max-width: 100vw;
}

div.borderXwidth a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.brown
{
    background: #e3caab;
}

div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}
// NAVBAR END

// BANNER
p.main {
  font-size: 2em;
}

p.video-menu {
  font-size: 1.5em;
  font-family: 'Raleway';
  letter-spacing: 3px;
  text-transform: uppercase;
}

#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  }

  .caption {
    position: relative;
    z-index: 20;
    text-align: center;
    color: #ffffff;
    border: solid 1px white;
    font-family: 'Sansita', 'Raleway', sans-serif;

    h2 {
      font-family: 'Raleway';
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  }
}
// BANNER END

// ABOUT US
.about {
  background-color: #f3f3f3;
}
// ABOUT US END

// BLOG
div.row.container-fluid img#omg {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.card-body {
  h5.card-title {
    text-decoration: none;
  }

  p.card-text{
    text-decoration: none;
  }
}

.blog {
  background-color: #FF9A7F;
}
// BLOG END

// GALLERY
.container-fluid > h5 {
  padding: 50px;
  margin: 20px 0;
}

#gallerysection h5 {
  font-family: 'Raleway';
  font-size: 6vw;
  letter-spacing: 2px;
  color: #FF9A7F;
}

#gallerysection.container-fluid.my-3.py-5 {
  position: relative;
}

#gallery .card {
  display: inline-block;
}
// GALLERY END

// FEEDBACK
.jumbotron {
  display: flex;
  margin: 0;
  width: 100%;
  color: #2d1902;

  .feedback {
    font-size: 3vw;
    font-family: 'Sansita';
    justify-content: center;
    align-items: center;

    cite {
      font-family: 'Raleway';
      color: #97824B;
    }
  }
}
// FEEDBACK END


// #footer {
// 	flex-shrink: none;
//   margin-top: 50px;
//   position: fixed;
//   width: 100%;
//   bottom: 0;
// }

// CARD ZOOM
.zoom {
  transition: transform 0.5s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.05);
}
// CARD ZOOM END

.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
    display:flex;
}

.col-md-12 {
  p {
    text-align: center;
  }
}

/* control image height */
.card-img-top-250 {
    max-height: 225px;
    overflow:hidden;
}

/* smoother transitions */
.carousel-inner>.carousel-item.next.left,
.carousel-inner>.carousel-item.prev.right,
{
    transition: all 1s ease;
}

//MENU
div#menu-tab {
  li > a {
    color: #97824B;
  }
  li > a.active {
    color:white;
  }
  a.nav-link.active {
     // background-color: #E3CAAB;
  }
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
  margin: 20px;
}

form {
  margin: 50px;
}

.tab-content .tab-pane .card-image {
  position:relative;
  overflow:hidden;
  padding-bottom:100%;

  img.card-img-top {
    position: absolute;
    max-width: 150;
    max-height: 150;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

img.modal-img {
  position: absolute;
  max-width: 25%;
  max-height: 25%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.tab-pane.active {
    animation: slide-right 0.75s linear;
}

@keyframes slide-right {
    0% { opacity: 0; transform: translateX(100%); }
    100% { opacity: 1; transform: translateX(0); }
}

// MENU END

// PARALLAX
.inspire {
  background-image: url(../images/bakesale.png);
}

.center-img-div{
  width: 100%;
  text-align: center;
  margin-right: 0;
  display: block;
}
.parallax-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  color: #2d1902;
  font-size: 20px;

  .about-caption {
    background-color: white;
    opacity: 1;
  }
}
.parallax-content {
  padding: 50px 0 50px 0;
  background: #000;
  background: rgba(0, 0, 0, .01);

  img {
    margin-bottom: 0;
  }
}
// PARALLAX END

// FOOTER
#footer {

  background-color: #e3caab;
  margin-top: 0px;
  text-align: center;
  // padding-top: 1em;

  a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
  }

  h5 {
    color: #2d1902;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
  }
}

#footer.contact-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.socials {
  display: flex;
  justify-content: flex-end;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  // padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook:hover {
  background-color: #97824b;
}

.social-network a.icoInstagram:hover {
  background-color: #97824b;
}

.social-network a.icoTwitter:hover {
  background-color: #97824b;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoTwitter:hover i{
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
// END FOOTER

